body {
    display: flex;
    justify-content: center;
}

.title {
    font-size: 1.5rem;
    margin-bottom: 2%;
}

.info {
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding-top: 1%;
    text-align: center;
    color: white;
    width: 50vw;
    height: 98vh;
    min-height: fit-content;
    border-style: solid;
    border-radius: 80px;
    border-color: black;
}

.input {
    font-family: Miltonian;
    width: 20vh;
    height: 3vh;
}

.search {
    background-color: red;
    color: white;
    border-color: white;
    font-family: Miltonian;
    width: 10vh;
    height: 4vh;
}

.search:hover {
    background-color: black;
}

.img {
    margin-top: 2%;
    width: 10vw;
    height: auto;
}

.name {
    margin-bottom: 2%;
    font-size: 1.5rem;
}

.type {
    border-style: solid;
    border-radius: 8px;
    border-color: black;
    width: fit-content;
    font-family: Miltonian;
    padding: 5px;
    width: 10vw;
    height: 3vh;
    font-size: 1rem;
    margin-bottom: 2%;
}

.small {
    width: 5vw;
}

.space {
    margin-left: 5%;
}

.desc {
    font-size: 1.25rem;
    max-width: 80%;
    margin-top: 2%;
    margin-left: 10%;
}

.cap {
    border: none;
    font-size: 1.25rem;
}

.row {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2%;
}

@media(max-width: 480px) {
    .img {
        width: 40vw;
        height: auto;
    }

    .info {
        margin-top: 0.2vh;
        padding-top: 10%;
        width: 90vw;
        height: 95vh;
    }

    .type {
        width: 30vw;
        font-size: 1rem;
        margin-bottom: 4%;
    }

    .cap {
        border: none;
        font-size: 1.25rem;
        margin-bottom: 8%;
    }

    .phy {
        font-size: 0.75em;
    }
}

@media(min-width: 480px) and (max-width: 844px) {
    .img {
        width: 20vw;
        height: auto;
    }

    .info {
        margin-top: 5vh;
        padding-top: 2%;
        width: 90vw;
        height: fit-content;
    }

    .input {
        width: 20vw;
        height: 3vw;
    }

    .search {
        width: 10vw;
        height: 4vw;
    }

    .type {
        width: 20vw;
        height: 3vw;
        font-size: 1rem;
        margin-bottom: 1%;
    }

    .cap {
        border: none;
        font-size: 1.25rem;
        margin-bottom: 2%;
    }
}